<footer>
    <div class="first m">

        <h3>Company</h3>
        <p>Careers</p>
        <p>Reviews</p>
        <p>Pricing</p>
        <p>Story</p>
        <p>Price Inquiries</p>
    </div>

    <div class="secnod m">
        <h3>Explore</h3>
        <p>Style quiz</p>
        <p> Finacing</p>
        <p>Reviews</p>
        <p>Gift-card</p>
        <p>Refer and Earn</p>
        <p>Help</p>
        <p>Promotion</p>
        <p>Modsy customer</p>

    </div>
    <div class="third m">
        <h3>Our Brands</h3>
        <p>Shopping Makes Fun</p>
        <p>The inside</p>

        <div class="sub-thrid">
            <h3>Contact</h3>
            <p>Call:9370458021</p>
            <p>Text 414.1324.4532</p>
            <p>Email:</p>
            <p>sakinamodi05@gmail.com</p>
            <p>Sakina.Modi@winjit.com</p>
      
        </div>
    </div>
    <div class="logo m">
        <h1>Follow us</h1>
        <div class="logo-img">
            <i class="fa-brands fa-facebook  fa-2xl"></i>
            <i class="fa-brands fa-twitter  fa-2xl"></i>
            <i class="fa-brands fa-instagram  fa-2xl"></i>
            <i class="fa-brands fa-pinterest fa-2xl"></i>
        </div>
    </div>

    <div class="footer-last">
        <h1>Happiness Guarantee</h1>
        <p>If you're not happy with our design, we're not happy</p>
    </div>
</footer>