<header >
    <div class="navbar navbar-dark bg-primary cshadow-sm">
        <div class="navbar-brand align-item-center c d-flex">
            <i style="font-size: 40px;" class="fas  fa-shipping-fast">&nbsp;</i>
            <strong  style="font-size: 28px;">SJ CART</strong>
            <div class="form-group" style="margin-left: 50px;">
                <input type="text" placeholder="search product " class="form-control">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button [routerLink]="['/cart']" class="btn btn-primary" style="margin-right: 20px;">
            <i style="font-size: 30px;"  class="fas fa-cart-plus"></i>
            <div style="font-size:10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>
